$breakpoints: (
        mobile: 480px,
        tablet: 767px,
        desktop: 992px,
        large: 1200px,
);
%center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
%flex_align_center {
  display: flex;
  align-items: center;
}



@mixin media_large{
  @media screen and (max-width: map-get($breakpoints, large)) {
    @content; 
  }
}
@mixin media_desktop{
  @media screen and (max-width: map-get($breakpoints, desktop)) {
    @content; 
  }
}
@mixin media_tablet{
    @media screen and (max-width:map-get($breakpoints, tablet)){
        @content;
    }
}
@mixin media_mobile{
    @media screen and (max-width:map-get($breakpoints, mobile)){
        @content;
    }
}
%background_none {
@include media_mobile{
  background-image: none!important;
  background-color: purple;
  margin-bottom: 0.5rem;
}
}
