@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&family=Cormorant+Upright:wght@300;400;600;700&family=Noto+Sans&family=Outfit&family=Playpen+Sans:wght@100;500;700;800&family=Rubik:wght@400;500;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
* {
  font-family: "Rubik", sans-serif;
  color: white;
  font-size: calc(14px + 2.92 * (100vw - 300px) / 1300);
}

h1 {
  font-size: calc(100% + 2.390625vw);
  animation: flipper 1s;
  text-shadow: 1px 2px 10px black;
}

span {
  font-size: calc(110% + 4.390625vw);
  font-weight: 900;
  text-shadow: 1px 2px 10px black;
}
span.thin {
  font-weight: 400;
}

h2 {
  font-size: calc(100% + 2vw);
  margin: 0.4em 1em;
  animation: bounceInRight 2s ease 1s;
}

h3 {
  font-size: calc(40% + 2vw);
  animation: flipper 3s;
}

h4 {
  font-size: calc(30% + 1vw);
  animation: flipper 3s;
}

p {
  padding: 0px;
}

li, a, a:visited {
  padding: 5px;
  text-decoration: none;
  list-style: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
li a:hover, a a:hover, a:visited a:hover {
  color: red;
}

.content-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 50px;
  margin: 10px 30px;
  display: flex;
  justify-content: flex-end;
  color: black;
  background-color: white;
}

.back-button {
  position: fixed;
  top: 2vh;
  right: 2vh;
  background-color: blue;
  border-radius: 10px;
  font-size: 14px;
  padding: 5px;
}

.gallerie_expositions, .gallerie_creations {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact, footer, h1 {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  #sculptures * #source, #sculptures * #joie, #sculptures * #envolee, #sculptures * #denouement, #sculptures * #cocon, #sculptures * #coeur, #sculptures * #paix, #sculptures * #epitres, #sculptures * #fleur, #sculptures * #oceane {
    background-image: none !important;
    background-color: purple;
    margin-bottom: 0.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  --header: 5vh; /* hauteur du header*/
  --footer: 10vh; /*hauteur du footer */
  --main: fit-content; /* hauteur du main*/
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  display: grid;
  grid-template-rows: var(--header) var(--main) var(--footer);
  grid-template-areas: "header" "main" "footer";
}
html body header {
  grid-area: header;
  margin-top: 1rem;
}
html body main {
  grid-area: main;
}
html body footer {
  grid-area: footer;
}
@media screen and (max-width: 480px) {
  html body header {
    height: 12vh;
  }
}
html body h2 {
  text-align: center;
  margin-top: 3vh;
}

.dialogBox {
  background: transparent;
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);
  font-size: 12px;
  padding-top: 1.5rem;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  position: relative;
  top: -20vh;
  right: 50vw;
  text-transform: uppercase;
  display: none;
}
.dialogBox .shadow {
  content: "";
  position: absolute;
  bottom: 50px;
  height: 5rem;
  width: 5rem;
  background-color: red;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}

h1 {
  position: relative;
  cursor: pointer;
  width: fit-content;
}

h1:hover .dialogBox {
  display: block;
}

.dialogBox, span {
  animation: bounce3 0.5s;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: 2;
  position: relative;
}

.info {
  position: relative;
  display: inline-block;
}

.info .info_text {
  visibility: hidden;
  background: radial-gradient(circle at 100px 100px, #d2b12b, #c15050);
  font-size: calc(13% + 1vw);
  font-weight: 200;
  border-radius: 50%;
  min-height: min(5vh, 7rem);
  min-width: min(10vw, 6rem);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Position the info */
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: -5vw;
}

.info_name {
  position: relative;
  display: inline-block;
}

.info_name .info_text {
  visibility: hidden;
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);
  font-size: calc(13% + 1vw);
  font-weight: 200;
  border-radius: 50%;
  min-height: min(5vh, 7rem);
  min-width: min(10vw, 6rem);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  position: absolute;
  z-index: 1;
  bottom: 6vh;
  left: -12vw;
}

a {
  font-size: unset;
}

.info:hover .info_text {
  visibility: visible;
}

.info_name:hover .info_text {
  visibility: visible;
}

#sculptures * {
  background-repeat: no-repeat;
  background-size: cover;
}
#sculptures * .sculpture {
  height: 100vh;
}
#sculptures * #oceane {
  background-image: url(/public/images/creations/oceane/oceane_background.jpg);
  background-color: rgb(34, 34, 124);
}
#sculptures * #fleur {
  background-image: url(/public/images/creations/fleur/fleur_background.webp);
}
#sculptures * #epitres {
  background-image: url(/public/images/creations/epitres/epitres_background.webp);
}
#sculptures * #paix {
  background-image: url(/public/images/creations/paix/50ff2b_066da4f0793f4e4e86996128692cbb80~mv2.webp);
}
#sculptures * #coeur {
  background-image: url(/public/images/creations/coeur/50ff2b_1f8e841af30d4583a52b801f7b36e09f~mv2.webp);
}
#sculptures * #cocon {
  background-image: url(/public/images/creations/coeur/50ff2b_1f8e841af30d4583a52b801f7b36e09f~mv2.webp);
}
#sculptures * #denouement {
  background-image: url(/public/images/creations/denouement/50ff2b_6f5468e37e664f869bc5baf8fd1e5293-mv2.webp);
}
#sculptures * #envolee {
  background-image: url(/public/images/creations/envolee/50ff2b_e6575cac650e4bbcb1d905cdbd4c8e75~mv2_002.jpg);
}
#sculptures * #joie {
  background-image: url(/public/images/creations/joie/50ff2b_6876b8f736af47d2adf165d948918473~mv2_005.webp);
}
#sculptures * #source {
  background-image: url(/public/images/creations/source/source_2.webp);
}
#sculptures * h3 {
  font-size: calc(46px + 1.390625vw);
  margin-bottom: 1rem;
  font-weight: 900;
  text-align: center;
  font-family: "Cormorant Upright", serif;
}
#sculptures * .card_sculpture_img {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  gap: 1rem;
}
#sculptures * .card_sculpture_img img {
  max-width: 28vw;
  max-height: 30vh;
  border-radius: 15px;
  border: 1px solid white;
  box-shadow: black 0px 20px 8px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#sculptures * .description p {
  font-family: "Cormorant Upright", serif;
  font-size: 1.5rem;
  margin: 1rem 25rem;
  text-align: center;
  width: 65%;
  margin: 20px auto;
}

body #presentation_more {
  display: unset;
  margin: 0% auto;
  background-color: black;
}

.container {
  padding: 0px 30px;
  height: 100vh;
  box-shadow: inset 0px 0px 30px 3px #527FD8;
}
.container .content {
  display: flex;
  flex-direction: row;
}
.container .content h4 {
  width: 150px;
}
.container .content .card {
  transform: translateX(0px);
}

input[type=checkbox] {
  display: none;
}

.toggle_button {
  border: none;
  cursor: pointer;
}

.card::before {
  display: none;
  height: 0;
}

input[type=checkbox]:checked ~ #origine {
  max-height: 200px;
  transition: max-height 0.4s;
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 1rem;
  transform: translateY(0px);
}

input[type=checkbox]:checked ~ #passions {
  max-height: 200px;
  transition: max-height 0.4s;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  opacity: 0;
  transform: translateY(0px);
}

header nav, header ul {
  display: flex;
  justify-content: right;
}
header input[type=checkbox] {
  display: none;
}
header label {
  width: 0%;
}
header .burger::before {
  display: none;
}

@media screen and (max-width: 480px) {
  .nav-links {
    display: none;
    padding: 40px 0 0 20px;
  }
  li, a, a:visited {
    padding: 0px;
    width: 45%;
  }
  .burger::after {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    content: "☰";
    background-color: orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 2;
    right: 3vh;
    animation: bounce3 0.5s;
    animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
    animation-iteration-count: 2;
  }
  input[type=checkbox]:checked ~ .nav-links {
    display: flex;
    flex-direction: column;
    width: 46vw;
    height: 18vh;
    border-radius: 0 30%;
    margin-top: -45px;
    font-size: 1rem;
    position: fixed;
    z-index: 1;
    background-color: rgb(65, 76, 119);
    animation: moveIn 0.8s;
    animation-timing-function: linear;
  }
}
#accueil {
  background-image: url("https://lysianebo.github.io/EricBidart/public/images/ericbidart_sculpteur3.webp");
  object-fit: 100% 100%;
}
@media screen and (max-width: 767px) {
  #accueil {
    background-image: url(https://lysianebo.github.io/EricBidart/public/images/ericbidart-fotor-bg-remover-202310050519.png);
    background-position-y: 40vh;
    object-fit: contain;
    background-size: 100vw;
    background-color: rgb(55, 55, 177);
  }
}
#accueil #sculpteur {
  margin: 6% 0 0% 30%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #accueil #sculpteur {
    margin: 6% 0 0% 0%;
    background-position-y: center;
  }
}

#gallerie {
  background-image: url("https://lysianebo.github.io/EricBidart/public/images/bg_creations_dark-blue-light-waves-2i61u57tfa11oriq.jpg");
}

.gallerie_creations {
  columns: 5;
  gap: 0.5rem;
  width: 90vw;
  overflow: hidden;
}
.gallerie_creations .card_creation {
  position: relative;
  overflow: hidden;
}
.gallerie_creations .card_creation img {
  display: inline-block;
  width: 100%;
  height: 33vh;
  object-fit: cover;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  filter: grayscale(100%);
  transition: transform 0.3s ease;
}
.gallerie_creations .card_creation img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}
.gallerie_creations .card_creation h4 {
  position: absolute;
  height: 0vh;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  background-size: 100%;
  color: white;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  text-align: center;
  padding: 10px;
}
.gallerie_creations .card_creation .creation_img:hover h4 {
  opacity: 1;
  height: 5vh;
  transform: translateY(0);
}

@media screen and (max-width: 992px) {
  #gallerie {
    background-repeat: repeat;
    background-size: unset unset !important;
  }
  .gallerie_creations {
    columns: 3;
  }
}
@media screen and (max-width: 767px) {
  .gallerie_creations {
    columns: 2;
  }
}
@media screen and (max-width: 480px) {
  .gallerie_creations {
    columns: 1;
    height: 100%;
  }
}
#expositions {
  background-image: url("https://lysianebo.github.io/EricBidart/public/images/bg_expositions_image-from-rawpixel-id-12419401-jpeg.jpg");
  background-repeat: repeat;
}

.gallerie_expositions {
  width: 94vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1.5rem;
}
.gallerie_expositions .child {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 1rem;
  border-radius: 1rem;
  border: 2px solid white;
  overflow: hidden;
}
.gallerie_expositions .child :hover {
  transform: scale(1.2);
}
.gallerie_expositions .child:hover .details {
  opacity: 1;
  transform: translateY(-80px);
}
.gallerie_expositions .child img, .gallerie_expositions .child video {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.gallerie_expositions .child:nth-child(1) {
  animation: fadeInUp 0.5s ease-in-out 0.5s forwards;
}
.gallerie_expositions .child:nth-child(2) {
  animation: fadeInUp 0.5s ease-in-out 1s forwards;
}
.gallerie_expositions .child:nth-child(3) {
  animation: fadeInUp 0.5s ease-in-out 1.5s forwards;
}
.gallerie_expositions .child:nth-child(4) {
  animation: fadeInUp 0.5s ease-in-out 2s forwards;
}
.gallerie_expositions .child:nth-child(5) {
  animation: fadeInUp 0.5s ease-in-out 2.5s forwards;
}
.gallerie_expositions .child:nth-child(6) {
  animation: fadeInUp 0.5s ease-in-out 3s forwards;
}
.gallerie_expositions .child:nth-child(7) {
  animation: fadeInUp 0.5s ease-in-out 3.5s forwards;
}

.details {
  font-size: 11px;
  height: 80px;
  position: absolute;
  bottom: -80px;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  overflow: hidden;
  transform: translateY(0px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  text-align: center;
  padding: 8px 5px 0px 10px;
}

#presentation {
  background-image: url("https://lysianebo.github.io/EricBidart/public/images/bp_presentation_image-from-rawpixel-id-12419376.jpg");
}
#presentation .content-container {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  #presentation .content-container {
    flex-direction: column;
  }
}

.circle {
  background: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  box-shadow: 4px -40px 60px 5px rgb(26, 117, 206) inset;
  transition: transform 0.3s;
}
.circle:hover {
  transform: scale(1.5);
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  padding: 0.5rem;
  background: black;
  justify-content: space-between;
}

.contact, .reseaux_sociaux, .creator_site {
  width: 200px;
}

.contact .logo_img, .contact img {
  border-radius: 50%;
  width: 35%;
  margin-right: 1rem;
}

.reseaux_sociaux img {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 767px) {
  footer {
    flex-direction: column;
  }
  footer div {
    margin: 0.2rem;
  }
}
@keyframes moveIn {
  from {
    right: -200px;
  }
  to {
    right: 0px;
  }
}
@keyframes bounce {
  from {
    top: 100%;
  }
  50% {
    top: 50%;
  }
  to {
    top: 100%;
  }
}
@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    opacity: 0;
    transform: translateY(0);
  }
  40% {
    opacity: 1;
    transform: tranlateY(20px);
  }
  60% {
    opacity: 1;
    transform: translateY(50px);
  }
}
@keyframes bounce3 {
  0% {
    transform: translate3d(20px, 50px, 80px);
  }
  50% {
    transform: translate3d(0px, 100px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 200px);
  }
}
grow {
  animation: grow 2s ease infinite;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.fade-in {
  animation: fade-in 2s linear infinite;
}

@keyframes fade-in {
  from {
    opacity: 1;
    scale: 0%;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.bounce-in {
  animation: bounce-in 2s ease 1s;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.bounce-in-right {
  animation: bounce-in-right 2s ease 1s;
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.bounce-in-right1 {
  animation: bounce-in-right 2s ease 1s;
}

@keyframes bounce-in-right2 {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    transform: translatey(100px);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.bounce-out {
  animation: bounce-out 2s ease 1s;
}

@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}
.bounce-out-down {
  animation: bounce-out-down 2s ease 2s;
}

@keyframes bounce-out-down {
  0% {
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-200px);
  }
  100% {
    opacity: 0;
    transform: translateY(200px);
  }
}
@keyframes flipper {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.bounce-in {
  animation: bounce-in 2s ease 1s;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.bounce-out {
  animation: bounce-out 2s ease 4s;
}

@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}
.bounce-out-down {
  animation: bounce-out-down 2s ease;
}

@keyframes bounce-out-down {
  0% {
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-200px);
  }
  100% {
    opacity: 0;
    transform: translateY(200px);
  }
}
@keyframes flipper {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */