main, .accueil{
     background-image: url(EricBidart/public/images/ericbidart-fotor-bg-remover-202310050519.png  );
     background-repeat: no-repeat;
    background-size: cover ;
}
#sculpteur{
    width: 60%;
    margin: 10vh;
    // background-color: blue;
    text-align: center;
}
