

main, .expositions{
    background-image: url('https://lysianebo.github.io/EricBidart/public/images/image-from-rawpixel-id-12419401-jpeg.jpg') ;
    background-repeat: no-repeat;
    overflow: hidden;
    // grid-area: main;
}

// .gallerie_expositions {
//     position: fixed;
   
  
//     width: 100%;
//     height: 76vh;
//     object-fit: cover;
//     z-index: -1; /* La vidéo sera en arrière-plan du contenu */
 

.child {
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 1.5rem;
    border-radius: 1rem;
    /* border: 2px solid white;  */
    height: 60vh;
    opacity: 0; /* Définissez l'opacité initiale à 0 pour les cacher */
    transform: translateY(600px); /* Décalez les cartes vers le bas */
}
.child:hover {
    transform: scale(2.5); /* Augmente légèrement la taille lors du survol */
    background-color: #333; /* Change la couleur de fond lors du survol */
}
.details {
	max-height: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    transform: rotatex(-180deg);
    transform-origin: top center ;
    backface-visibility: hidden;
    transition: 0.3s ease ;
    padding-top: 30px;
	}
.child:hover .details {
    max-height: none;
    overflow: visible;
    visibility: visible;
    transform: rotatex(0deg);
}

/* Animation pour la première carte */
.child:nth-child(1)  {
    animation: fadeInUp 0.5s ease-in-out 0.5s forwards; /* 0.5s de délai */
}

/* Animation pour la deuxième carte */
.child:nth-child(2) {
    animation: fadeInUp 0.5s ease-in-out 1s forwards; /* 1s de délai */
}

/* Animation pour la troisième carte */
.child:nth-child(3)  {
    animation: fadeInUp 0.5s ease-in-out 1.5s forwards; /* 1.5s de délai */
}
.child:nth-child(4)  {
    animation: fadeInUp 0.5s ease-in-out 2s forwards; /* 0.5s de délai */
}

/* Animation pour la deuxième carte */
.child:nth-child(5) {
    animation: fadeInUp 0.5s ease-in-out 2.5s forwards; /* 1s de délai */
}

/* Animation pour la troisième carte */
.child:nth-child(6)  {
    animation: fadeInUp 0.5s ease-in-out 3s forwards; /* 1.5s de délai */
}
.child:nth-child(7)  {
    animation: fadeInUp 0.5s ease-in-out 3.5s forwards; /* 0.5s de délai */
}


/* Ajoutez d'autres classes d'animation et ajustez les délais en conséquence pour plus de cartes */
// @keyframes fadeInUp {
//     to {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }

// #expositions{
//     margin: 0px;
//   } 

.gallerie_expositions{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        grid-gap: 1rem;
        padding: 1rem;
        border-radius: 1rem;
      }
.gallerie_expositions > child {
        /* border-radius: 1rem;
        border: 2px solid white; */
        min-height: 54vh;
      }
.gallerie_expositions img, video{
    object-fit: cover;
  height: 350px;
    border-radius: 1rem;
    /* border: 1px solid white;
} */
}
.gallerie_expositions img, video:hover{
   transform: scale(1.05); /* Augmente légèrement la taille lors du survol */
    background-color: #333; /* Change la couleur de fond lors du survol */
}
  
   

// @keyframes flipper{
//     from{
//        transform: scale(0.0); 
//     }
//     to{
//        transform: scale(1); 
//     }
// }



@media (max-width: 600px) {
   /* Ajustez les styles pour les écrans de 600 pixels de largeur ou moins */
   .logo img {
      width: 30%; /* Réduisez la taille du logo */
   }
   h1{
    text-align: center;
   }

  }
  
