 #presentation{
    background-image: url('https://lysianebo.github.io/EricBidart/public/images/image-from-rawpixel-id-12419376-jpeg.jpg'); 
 .content-container{
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    }  
}
.circle {
        background: black;
        border: none;
        cursor: pointer;
        font-weight: bold;
        padding: 10px;
        border-radius: 50%;
        width: 15em;
        height: 15em;
        box-shadow: 4px -40px 60px 5px rgb(26, 117, 206) inset;
        transition: transform 0.3s;
    &:hover {
            // background-color: rgba(0, 0, 0, 0.2);
            transform: scale(1.5);
        }
    }