header { 
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
img{
  border-radius: 50%;
    width: 40%;
    padding-left: 1vw;
    box-shadow: 0px 0.5px 5px black;  
}
/**** NAVBAR ****/
nav {
  display: flex;
  padding: 20px;
 ul {
  display: flex;
  justify-content: space-between;
 }

}
}
#icons {
  cursor: pointer;
  display: none;
}
@media (max-width: 800px) {
    header{
        margin-bottom: 50px;
    }
  #icons {
    display: block;
  }
  #icons:before {
    content: "\2630";
  }
  .active #icons:before {
    content: "\2715";
  }
  nav ul {
    position: fixed;
    left: -100%;
    top: 5%;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.25s;
  }
  nav li {
    padding: 3px 0;
  
  }
   a:hover {
    color: lightblue;
  }
  nav.active ul {
    left: 0;
  }
}