header { 
    nav, ul{
        display: flex;
        justify-content: right;
    }
    input[type=checkbox] {
        display: none;
    }
    label{
        width: 20%;
    }
    .burger::before {
        display: none;
    }
}
@include media_mobile {
    .nav-links {
        display: none;
        border-bottom: 1px solid white;
    }
    li, a, a:visited {
        padding: 0px;
        width: 40%;
    }
     .burger::after{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        content: "\2630";
        background-color: orange;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: fixed;
        z-index: 1;
        right: 5vh;
        animation: bounce3 0.5s;
        // animation-direction: alternate; 
        animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
        animation-iteration-count: 2 ;
     }input[type=checkbox]:checked ~ .nav-links {
        display: flex;
        flex-direction: column;  
        justify-content: flex-start;
        width: 200px;
        font-size: 12px; 
    }
}  