
     
       


        #oceane {
            background-image: url( );

        }

        #fleur {
            background-image: url(public/images/creations/fleur/fleur_background.webp);
        }

        #epitres {
            background-image: url(public/images/creations/epitres/epitres_background.webp);
        }

        #paix {
            background-image: url(public/images/creations/paix/50ff2b_066da4f0793f4e4e86996128692cbb80~mv2.webp);
        }

        #coeur {
            background-image: url(public/images/creations/coeur/50ff2b_1f8e841af30d4583a52b801f7b36e09f~mv2.webp);
        }

        #cocon {
            background-image: url(public/images/creations/coeur/50ff2b_1f8e841af30d4583a52b801f7b36e09f~mv2.webp);
        }

        #denouement {
            background-image: url(public/images/creations/denouement/50ff2b_6f5468e37e664f869bc5baf8fd1e5293-mv2.webp);
        }

        #envolee {
            background-image: url(public/images/creations/envolee/50ff2b_e6575cac650e4bbcb1d905cdbd4c8e75~mv2_002.jpg);
        }

        #joie {
            background-image: url(public/images/creations/joie/50ff2b_6876b8f736af47d2adf165d948918473~mv2_005.webp);
        }

        #source {
            background-image: url(public/images/creations/source/source_2.webp);

        }

        .back-button {
            position: fixed;
            
            top: 10px;
            right: 50px;
            z-index: 1;
        }

        .card_sculpture_img {
            display: flex;
            width: fit-content;
            margin: auto;
            text-align: center;


        }

        img {
            border-radius: 15px;
            border: 1px solid white;
            box-shadow: black 0px 1px 8px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }

        p {
            font-size: calc(16px + 1.390625vw);
            text-align: center;
            width: 70%;
            margin: 2vh auto;
        }

        h3 {
            font-size: calc(56px + 1.390625vw);
            margin: 0;
            font-weight: 900;
            text-align: center;
        }
