*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   border: 1.5px solid red;
} 
html body{
    --header: 5vh; /* hauteur du header*/
    --footer: 10vh; /*hauteur du footer */
     --main: fit-content; /* hauteur du main*/
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: grid;
    grid-template-rows: var(--header) var(--main) var(--footer);
    grid-template-areas: "header"
                         "main"
                         "footer" ;

header{
  grid-area: header;
  margin-top: 1rem;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
@include media_mobile {
 header{
      height: 12vh;
    }
  }
h2{
  text-align: center;
  margin-top: 3vh;
}
}
        
    