*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1.5px solid red;
} 
body{
    --header: 5vh; /* hauteur du header*/
    --footer: 10vh; /*hauteur du footer */
    --main: 85vh; /* hauteur du main*/
    
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: grid;
    grid-template-rows: var(--header) var(--main) var(--footer);
    grid-template-areas: "header"
                         "main"
                         "footer" ;
@include media_mobile{
    --header: 12vh;
    header{
      height: 11vh;
    }
  }
}
header{
  grid-area: header;
  margin-top: 1rem;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
@include media_mobile {

h2{
  text-align: center;
  margin-top: 3vh;
}
}
        
    