*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
} 
body{
    --header: 10vh; /* hauteur du header*/
    --footer: 15vh; /*hauteur du footer */
    --main: 80vh; /* hauteur du main*/
    width: 100vw;
    overflow: hidden;
   
    display: grid;
   
   
    grid-template-rows: var(--header) var(--main) var(--footer);
   grid-template-areas: "header"
                         "main"
                         "footer" ;

}
header{
  grid-area: header ;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}